body {
  font-family: var(--font-family);
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
}

.logo {
  height: 4em;
  /* width: 100%; */
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 5px;
  border-radius: 8px;
}

.logo img {
  width: 4em;
  height: 4em;
}

.content {}

.w-100 {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  position: relative;
}

.header-login-content {
  position: relative;
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
  align-items: center;
}

.header-login-content p {
  text-align: end;
  margin-right: 1em;
}